
.navbar{
  background-color: #FFA712;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  color: white;
}
.active{
  background-color: white;
  color: #FFA712;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;

  border-radius: 30px;
  

}
.non-active{
color: white;
text-decoration: none;
font-weight: bold;
}
body{
  margin: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}



.login{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color:#e4cfa4;
  color: white;
}
.login-left{
  display: flex;
  background-image: url('../../public/login.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center;
  align-items: center;
  height: 540px;
  width:400px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  text-align: center;


}
.all{
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  height: 100vh;
  flex-direction: column;

}
.hero{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  gap:10px;

}
.hero>img{
  height:26rem;
}
.hero-image{
  height:26rem;


}

.searchbar{
  padding: 4px;
  border: none;
  
}
.searchbar:focus{
  outline: none;
}
.searchform{
  border:solid  rgb(222, 144, 27);
  padding:3px ;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.selecti {
  position: relative;
  align-self: flex-start;
  float: left;
  min-width: 200px;
  margin: 10px 1%;
}



select::-ms-expand {
  display: none;
  }
  .selecti:after {
    content: '<>';
    font: 14px "Consolas", monospace;
    color: #ffffff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  }
  .selecti select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    border-radius: 30px;
    color: white;
    background-color: #FFA712;
    background-image: none;
    border: 1px solid #444D0C;
    -ms-word-break: normal;
    word-break: normal;
  }
  
  .fav-image{
    height: 20rem;
  }
.footer{
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0;
  margin: 0;
  gap: 12px;
  margin-top: 360px;

}
.footer>small{
  color: #9A8585;
}
.error{
  margin: 0;
  width:80%;
}
.signup-left{
  display: flex;
  background-image: url('../../public/login.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center;

  align-items: center;
  justify-content: center;
  height: 620px;
  width:400px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;


}
.loginform{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loginform.sig{
  gap:4px;

}
.login-button{
  background-color: #a16a2c;
  color: white;
  border-radius: 8px;
  padding: 8px;
  padding-left: 10px;
  border: none;
  padding-right: 10px;
  margin-top: 40px;

}
.login-button.sig{
  margin-top: 20px;
}
.login-right{
  background-color:  #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  width:400px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}
.signup-right{
  background-color:  #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
  width:400px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}
.signup-right>form{
  width: 80%;
}
.special-input{
  padding: 8px;
  border-radius: 8px;
  border:none;
}
.loginform>h3{
  color: white;
  margin: 0;
}

.bookcover{

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 260px;
  ;
}
.book-container {
  width: 1142px;
  margin: 0 auto;
}
.materials{
  padding-left: 4rem;
  padding-right: 4rem;
 }

 .profile-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3f1ac;
}
.profile-box{
  display: flex;
  height: 400px;
  width:600px;
  
  
}

.send-button{

  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 10px 0px #FFA712;
  background-image: linear-gradient(135deg, #f6b546 10%, #ffa200 100%);
  

}
.remove{
  box-shadow: 0px 4px 10px 0px  #24074f;

  background-image: linear-gradient(135deg, #3b6310 10%, #cd6a23 100%);


}
.custom-input{
  padding: 6px;

}
.hero-small{
  height: 100px;
}

.custom-input,textarea:focus{
  outline: none !important;
  border:2px solid #FFA712;
  box-shadow: 0 0 10px rgb(67, 66, 59);
}
.upload{
  padding-left: 40px;
  padding-right: 40px;
}
.profile-left{
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;
  padding: 30px;
  background: rgb(115,195,34);
  background: linear-gradient(0deg, rgba(115,195,34,1) 0%, rgba(209,101,41,1) 52%, rgba(253,108,45,1) 100%); 
}
.profile-right{
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.part{
  display: flex;
  justify-content: space-between;
}
.p-f{
  font-weight: bold;
  font-size: 18px;
}




.book-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}

.bookcover{
  -ms-flex-preferred-size: calc(20% - 30px);
  flex-basis: calc(20% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

}
.book-button{
  background: transparent;
  border: none;
}
.book-image{
  height: 40px;
}